.main {
	display: flex;
}

.principal {
	width: 70%;
}

.blocosMain {
	display: flex;
	position: absolute;
	top: 50%;
	left: 13.5%;
}

.bloco {
	transform: translateY(-50%);
}

.thumbnail {
	border: 2px solid #000;
	border-radius: 15px;
	box-shadow: -10px -10px 6px rgba(0,0,0,0.2); 
}

.thumbnail .caption {
	padding-bottom: 25px !important;
}

.thumbnail img {
	border-radius: 12px 12px 0 0;
	border-bottom: 2px solid #000;
}

.btn {
	color: white;
	text-shadow: 1px 1px 1px black;
}

/* Modal's*/

/* Título modal */
.titulo_modal {
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.info-titulo {
	font-size: 105%;
}

/* Botão que imagens */
.btnX {
	background: black; 
}

/*CSS para o dropdown-menu de nível 3 ou mais.*/
.marginBottom-0 {margin-bottom:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 20px;
  background-color: #009f00 !important;
	height: 60px;
	padding: 0px 20px !important;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

hr {
  color: black;
  background-color: black;
  height: 1px;
  opacity: 0.2;
}

.dropdown-toggle{
  color: white !important;
}

.dropdown-menu{
  color: black !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 80px; /* altura do seu footer */
  background-color: #F1F4F9 !important;
}

table {
  background-color: white;
}

.no-filter {
  padding-bottom: 30px !important;
  color: #999;
}

/* Table Responsive */
.table-responsive {
  overflow: hidden;
}

table {
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
	margin-bottom: 8px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  font-weight: normal;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table tbody tr td {
	text-align: center;
}
.table thead th {
  background: #eeeeee;
  vertical-align: bottom;
  font-weight: bolder;
	text-align: center;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}
.table .t-small {
  width: 5%;
}
.table .t-medium {
  width: 15%;
	text-align: center;
}
.table .t-status {
  font-weight: bold;
}

#load_geral img {
  width: 50px;
  position: absolute;
  margin-top: 15%;
}

/*Correção DataPicker*/
.ui-datepicker-header {
   background: red !important;
   color: #EEE;
 }

 #ui-datepicker-div{
  z-index: 100 !important;
  position: absolute;
 }

/* Ajusta FOOTER */
.main_footer {
	width: 100%;
	height: auto;
	position: relative;
	bottom: 0;
	margin: 0;
	margin-top: 40px;
	padding: 5px;
	background-color: #fff;
	border-top: 1px solid #eeeeee;
	transition: all 0.5s;
	border-top: 2px solid rgba(0,0,0,.1);
}
.flex_box_footer_wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.flex_box_footer_item {
	flex-basis: 33%;
	text-align: center;
}
.flex_box_footer_item img {
	width: 250px;
}

/* Ajusta Views de categoria */
.main_categorias .container-fluid .categorias {margin-top: 70px;}
.main_categorias .container-fluid .categorias h3 {margin-bottom: 20px; text-align: center; text-shadow: 1px 1px rgba(0, 0, 0, 0.4);}
.main_categorias .container-fluid .categorias p {font-size: 1.6em; margin-bottom: 20px; margin-top: 40px; text-align: center; text-shadow: 1px 1px rgba(0, 0, 0, 0.4);}
.categorias small {font-weight: bold; color: #ff6666;}
.categorias .j_list{cursor: pointer; font-size: 2em;}
.categorias .j_list:hover{color: green;}
.categorias .glyphicon-menu-down{position: relative; top: 4px;}

/* Ajusta Views de leilões Pendentes */
.main_leiloes_pendentes{flex-basis: 100%;}
.main_leiloes_pendentes .container-fluid .leiloes_pendentes {margin-top: 70px;}
.leiloes_pendentes .j_list{cursor: pointer; font-size: 2em; margin-bottom: 20px;}
.leiloes_pendentes .j_list:hover{color: red;}
.leiloes_pendentes .glyphicon-menu-down{position: relative; top: 4px;}
.main_leiloes_pendentes button{float: right; margin-right: 7px;}

/* Ajusta View Leilões Aprovados */
.flex_box_product {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.flex_box_product_item {
  flex-basis: 23%;
  margin-bottom: 14px;
}

.thumbnail {
  padding: 0 !important;
  max-width: 300px;
}
.img {
  max-width: 400px;
  height: 169px;
}

/* Hover Zomm */
.hoverzoom {
	 position: relative;
   width: 250px;
   overflow: hidden;
   margin: 30px 5px;
}
.hoverzoom > .item_img {
  width: 100%;
	border-radius: 2px;
	-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	     -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	      -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	         transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > .item_img {
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
            transform: scale(1.5);
}
.hoverzoom .retina{
	position: absolute;
  width: 100%;
  height: 169px;
  top: 0;
  left: 0;
  opacity: 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  padding: 30px;
  cursor: pointer;

  -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	   -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	     -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	        transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover .retina {
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}
.hoverzoom .retina a {
    font-size: 2em;
    position: absolute;
}
.hoverzoom .retina .product_edit {
    top: 80px;
    right: 53%;
    color: #fff;
}
.hoverzoom .retina .product_trash {
    top: 80px;
    right: 38%;
    color: #fff;
}
.hoverzoom .retina .product_edit:hover {
    color: green;
}
.hoverzoom .retina .product_trash:hover {
    color: darkorange;
}

/* Webview Comprar Ingressos */
.body_webview{
	margin-top: 0;
	padding: 0;
}

.main_header_webview{
	width: 100%;
	height: auto;
	background: #064706;
	padding: 15px;
}

.main_header_webview h1{
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 2.7em;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.main_webview{
	width: 50%;
	margin: 0 auto;
	background: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0 ,0, 0, 0.4);
	position: relative;
	top: 100px;
	padding: 30px 3%;
	display: flex;
	flex-wrap: wrap;
}

.main_webview_item{
	flex-basis: 100%;
}

.main_webview form{
	width: 100%;
}

.main_webview h2{
	margin: 0;
	color: #000;
	text-align: center;
	font-size: 2.3em;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
	margin-bottom: 20px;
}

.main_webview_item .dados_user{
	font-size: 1.3em;
	margin-bottom: 3px;
}

.main_webview .loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.6);
	z-index: 99;
}
.sweet-alert {
	background: rgba(0, 0, 0, 0.3);
}
.sweet-alert h2 {
	color: #ccc;
}

/* Mobile First - Ajusta Design Responsivo Desde uma Resolução com Tamanho minímo de 320px */

/* Breakpoint 320px */
@media(min-width: 20em) {
	.principal {
	 	 min-height: 100%;
	   min-height: -webkit-calc(100vh - 100px);
	   min-height: -moz-calc(100vh - 100px);
	   min-height: calc(100vh - 100px);
	   position: relative;
	}
	.flex_box_footer_item {
		flex-basis: 100%;
		margin: 10px 0;
		padding: 10px 0;
		border-bottom: 2px solid #eee;
	}
	.flex_box_footer_item:nth-child(3) {
		border-bottom: 0;
	}

	/* Ajusta View de Categorias */
	.categorias input[type="submit"]{position: relative; top: 0px;}

	/* Webview Categorias */
	.main_header_webview h1 {
		font-size: 2.4em;
	}
	.main_webview{
		width: 90%;
	}
	.main_webview h2{
		text-align: left;
	}
}

/* Ajusta tabela responsiva */
@media(min-width: 20em) and (max-width: 41.875em) {
  /* Table Responsive */
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-action td {
    border: 0;
  }
  .table-action td {
    display: block;
  }
}

/* Breakpoint 768px */
@media(min-width: 48em) {
	.principal {
	   min-height: -webkit-calc(81vh - 100px);
	   min-height: -moz-calc(81vh - 100px);
	   min-height: calc(81vh - 100px);
	}
	.flex_box_footer_item {
		flex-basis: 45%;
	}
	.flex_box_footer_item:nth-child(3) {
		flex-basis: 100%;
	}

	/* Webview */
	.main_webview{
		width: 60%;
	}
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: black !important;
    opacity: 0.8;
  }
	.navbar-nav > li > a {
	  color: white !important;
	  text-shadow: 1px 1px black;
	}

	.navbar-nav > li:hover {
		background: rgba(255, 255, 255, 0.1);
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #fff !important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		color: #ccc !important;
	}
}

/* Brakpoint 992px */
@media(min-width: 62em) {
	/* Ajusta View de Categorias */
	.categorias input[type="submit"]{top: 21px; width: 100%;}
}

/* Breakpoint 1080px */
@media(min-width: 67.5em) {
	.principal {
	   min-height: -webkit-calc(89vh - 100px);
	   min-height: -moz-calc(89vh - 100px);
	   min-height: calc(89vh - 100px);
	}
	.flex_box_footer_item:nth-child(1), .flex_box_footer_item:nth-child(2), .flex_box_footer_item:nth-child(3) {
		flex-basis: 33%;
		border-bottom: 0;
	}
}
