* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  background: linear-gradient(#064706, #297629, #064706);
  background: radial-gradient(#297629 25%, #064706 75%);
}

.rodape{
  width: 100%;
	color: #FFFFFF;
	font: 12px Arial;
  position: absolute;
	margin-bottom: 15px;
	bottom: 0px;
}

.container{
  position: absolute;
  width: 95%;
  top: 22%;
  bottom: 50%;
  margin: 0px;
  padding: 0px;
}

#esqueciSenha {
  color: #fff;
}

.titulo{
	font-size: 80px;
	color: #F1F4F9;
	text-shadow: 2px 2px 2px black;
}

.login-main {
  width: 300px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #BFEFFF;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.box1 {
  background: #fffFFF;
  height: 40px;
  text-indent: 10px;
  width: 90%;
  margin-bottom: 2px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

.form-group {
	margin: 0px;
}

#usuario {
  margin-bottom: 0px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#senha {

  margin-top: 0px;
  -webkit-border-radius: 0px 0 5px 5px;
  -moz-border-radius: 0px 0 5px 5px;
  -ms-border-radius: 0px 0 5px 5px;
  -o-border-radius: 0px 0 5px 5px;
  border-radius: 0px 0 5px 5px;
}

.btn_login {
  font-size: 1.25em;
  text-shadow: 1px 1px #000;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.btn_login:hover {
  transition: 1s;
  background: rgb(228, 228, 228);
  color: #000;
  text-shadow: 1px 1px #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.central{
	margin-top: 30px;
}

.send {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #BFEFFF;
  background: #9AC0CD;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}

/* Ajusta Página de Login */
.content {
  width: 35%;
  margin: 0 auto;
  position: relative;
  top: 250px;
}
.flex_box_login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: transparent;
  padding: 2%;
}
.flex_box_login_item {
  flex-basis: 100%;
  margin: 10px 0;
}
.flex_box_login_item button {
  width: 100%;
}
.flex_box_login_item:nth-child(1) {
  padding: 0 34%;
}
.flex_box_login_item .img_logo {
  width: 100px;
  height: auto;
}
.flex_box_login_item:nth-child(4), .flex_box_login_item:nth-child(5) {
  flex-basis: 50%;
}
.flex_box_login_item:nth-child(4) span {
  position: relative;
  top: 8px;
}

/* Ajusta o Footer */
.footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 2%;
}
.footer .span_projeto, .span_versao {
  color: white;
  padding-top: 10px;
}
.footer .span_projeto {
  margin-right: 5px;
}

@media(min-width: 20em) {
  .content {
    width: 90%;
    max-width: 400px;
  }
  #esqueciSenha {
    font-size: 0.9em;
  }
  .btn_login {
    font-size: 1em;
  }
}
