a{text-decoration: none !important;}

.holder {
	margin: 15px 3px;
}

.holder a {
	font-size: 1.2em;
	cursor: pointer;
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 5px;
	color: #333;
}

.holder a:hover {
	background-color: rgba(0, 77, 0, 1);
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover {
	color: rgba(0, 77, 0, 1);
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default;
	background: none;
}

.holder span { margin: 0 5px; }
